#sidebar.span3
  .well.well-small(style ={'text-align':'center', 'background-color':'#FF6633'})
    a#myCart(href='/cart/checkout')
      img(src='themes/images/ico-cart.png', alt='cart')
      | #{countItem} Items in your cart  
      span.badge.badge-warning.pull-right ₫ #{price}
  .well.well-small(style ={'font-size': '18px', 'color':'#DD0000', 'text-align':'center', 'background-color':'#66FF66'})
    if(email)
      a#infor(href='/user/view' )
        img(src='themes/images/user.svg' width='20px') 
        span &nbsp;
        | Account Information
    else
      a#infor(href='/signin' )
        img(src='themes/images/user.svg' width='20px') 
        span &nbsp;
        | Account Information
  .well.well-small(style ={'text-align':'center', 'background-color':'#FFCC00'})
    p Thanks for visiting
    p( style ={ 'font-size': '18px','color':'#800000'})
      strong Chúng tôi luôn cố gắng để hoàn thiện
  ul#sideManu.nav.nav-tabs.nav-stacked
    li.subMenu.open
      a Thời Trang Nam
      ul
        li
          a.active(href='/products/category1')
            i.icon-chevron-right
            | Áo Nam
        li
          a(href='/products/category2')
            i.icon-chevron-right
            | Quần Nam
    li.subMenu
      a  Thời Trang Nữ (Đang Phát Triển)
      ul(style='display:none')
        li
          a(href='/products')
            i.icon-chevron-right
            | Váy &amp; Đầm
        li
          a(href='/products')
            i.icon-chevron-right
            | Áo
        li
          a(href='/products')
            i.icon-chevron-right
            | Quần
    li
      a(href='#') SPORTS (Đang phát triển)
    li
      a(href='#') BOOKS (Đang phát triển)
  //- br
  //- .thumbnail
  //-   img(src='themes/images/products/panasonic.jpg', alt='Bootshop panasonoc New camera')
  //-   .caption
  //-     h5 Panasonic
  //-     h4(style='text-align:center')
  //-       a.btn(href='product_details.html')
  //-         i.icon-zoom-in
  //-       a.btn(href='#')
  //-         | Add to 
  //-         i.icon-shopping-cart
  //-       a.btn.btn-primary(href='#') $222.00
  //- br
  //- .thumbnail
  //-   img(src='themes/images/products/kindle.png', title='Bootshop New Kindel', alt='Bootshop Kindel')
  //-   .caption
  //-     h5 Kindle
  //-     h4(style='text-align:center')
  //-       a.btn(href='product_details.html')
  //-         i.icon-zoom-in
  //-       a.btn(href='#')
  //-         | Add to 
  //-         i.icon-shopping-cart
  //-       a.btn.btn-primary(href='#') $222.00
  br
  .thumbnail
    img(src='themes/images/payment_methods.png', title='Bootshop Payment Methods', alt='Payments Methods')
    .caption
      h5 Payment Methods