#footerSection
  .container
    .row
      .span3
        h5 INFORMATION
        a(href='/contact') CONTACT
        a(href='/register') REGISTRATION
      .span3
        h5 OUR OFFERS
        a(href='/products') NEW PRODUCTS
        a(href='#') MANUFACTURERS
        a(href='#') SUPPLIERS
      #socialMedia.span3.pull-right
        h5 SOCIAL MEDIA 
        a(href='https://www.facebook.com/profile.php?id=100010467486603')
          img(width='60', height='60', src='themes/images/facebook.png', title='facebook', alt='facebook')
        a(href='#')
          img(width='60', height='60', src='themes/images/twitter.png', title='twitter', alt='twitter')
        a(href='https://www.youtube.com/channel/UCGCHDrvyhrmyz6ah_TO6GVA?view_as=subscriber')
          img(width='60', height='60', src='themes/images/youtube.png', title='youtube', alt='youtube')
    p.pull-right &copy; VDNshop
  // Container End
// Placed at the end of the document so the pages load faster =============================================
script(src='themes/js/jquery.js', type='text/javascript')
script(src='themes/js/bootstrap.min.js', type='text/javascript')
script(src='themes/js/google-code-prettify/prettify.js')
script(src='themes/js/bootshop.js')
script(src='themes/js/jquery.lightbox-0.5.js')