#sidebar.span3
  .well.well-small
    a#myCart(href='/admin/orders')
      img(src='themes/images/ico-cart.png', alt='cart')
      | #{numberOfOrders} Orders  
  ul#sideManu.nav.nav-tabs.nav-stacked
    li.subMenu.open
      a  Home Page
      ul
        li
          a(href='/admin/orders')
            i.icon-chevron-right
            | Orders[#{numberOfOrders}]
        li
          a.active(href='/admin/products')
            i.icon-chevron-right
            | Products
        li
          a(href='/admin/users')
            i.icon-chevron-right
            | Users
        li
          a(href='/admin/carousels')
            i.icon-chevron-right
            | Carousels