extends ../layout/header.pug
block content
  #mainBody
    .container
      .row
        // Sidebar ==================================================
        include ../layout/sidebar.pug
        .span9
          ul.breadcrumb
            li
              a(href='/') Home
              span.divider /
            li.active changepassword
          h1
          span.mt-100.mr-10 Change Password
          hr.soft
          if errors
            each error in errors
              .alert.alert-danger= error
          form#form(action="/user/changepassword", method="POST")
            .form-group
              label#iduser(name='email') Email: #{email}
            .form-group
              label(for="password") Password Cũ
              input#password.form-control(type="password" name="oldPassword" value= values ? values.password : '')
            .form-group
              label(for="phone") New Password
              input#phone.form-control(type="password" name="newPassword" value= values ? values.newPassword : '')
            .form-group
              label(for="phone") Xác nhận Password
              input#phone.form-control(type="password" name="xacnhanPassword" value= values ? values.xacnhanPassword : '')
            button(class="btn btn-success ml-4") Change  
  // Footer ==========================================================
  include ../layout/footer.pug