extends ../layout/header.pug
block content
  .container
    .row
      include ../layout/sidebar.pug
      .span9
        ul.breadcrumb
          li
            a(href='/admin/products') Admin
            span.divider /
          li.active products/edit
        h1
          span.mt-100.mr-10 Edit Product #{product.name}
        hr.soft
        form#form(action="/admin/products/edit/"+product.id, method="POST", enctype="multipart/form-data")
          .form-group
            label#idProduct(name='id', value= product.id) ID #{product.id}
          .form-group
            label(for="name") Name
            input#name.form-control(type="text" name="name" value= product.name ? product.name : '')
          .form-group
            label(for="price") Price
            input#price.form-control(type="number" name="price" value= product.price ? product.price : '')
          .form-group
            label(for="desc") Description
            input#desc.form-control(type="text" name='desc' value= product.description ? product.description : '')
          .form-group
            label(for="image") Image
            img( src = product.img , width = "200", height="200" name='image' value= product.img ? product.img : '')
            input#image.form-control-file(type="file" name="image" )
          button(class="btn btn-primary ml-4") Update
  // Footer ==========================================================
  include ../layout/footer.pug